
/* reset */

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    background-color: lightpink;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    margin: 1rem;
}


